@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
  --placer-holder-color: rgb(200, 200, 200);
}

.theme-red {
  --background-color: rgb(253, 146, 146);
  --background-color-2: rgb(238, 140, 140);
  --game-border-color: rgb(165, 35, 35);
  --header-text-color: rgb(105, 18, 18);
  --regular-text-color: rgb(30, 0, 0);

  --button-color-1: rgb(213, 41, 41);
  --button-color-1-hover: rgb(181, 31, 31);

  --button-color-2: rgb(239, 152, 143);
  --button-color-2-hover: rgb(255, 107, 88);

  --additional-text-color-1: rgb(110, 15, 15);
  --additional-text-color-2: rgb(75, 18, 18);
  --additional-text-color-3: rgb(37, 6, 6);

  --glass-color: rgba(29, 2, 2, 0.203);
}

.theme-orange {
  --background-color: rgb(255, 200, 145);
  --background-color-2: rgb(238, 150, 91);
  --game-border-color: rgb(215, 115, 0);
  --header-text-color: rgb(107, 48, 2);
  --regular-text-color: rgb(30, 12, 0);

  --button-color-1: rgb(245, 139, 0);
  --button-color-1-hover: rgb(218, 91, 0);

  --button-color-2: rgb(239, 188, 143);
  --button-color-2-hover: rgb(255, 172, 88);

  --additional-text-color-1: rgb(165, 63, 0);
  --additional-text-color-2: rgb(172, 69, 0);
  --additional-text-color-3: rgb(51, 21, 1);
  --glass-color: rgba(215, 150, 70, 0.203);
}

.theme-yellow { /* this theme was requested by izzy, but I don't like yellow */
  --background-color: rgb(255, 233, 145);
  --background-color-2: rgb(238, 231, 91);
  --game-border-color: rgb(224, 179, 0);
  --header-text-color: rgb(187, 147, 0);
  --regular-text-color: rgb(30, 25, 0);

  --button-color-1: rgb(255, 203, 60);
  --button-color-1-hover: rgb(239, 184, 19);

  --button-color-2: rgb(239, 220, 143);
  --button-color-2-hover: rgb(255, 233, 88);

  --additional-text-color-1: rgb(78, 57, 3);
  --additional-text-color-2: rgb(101, 71, 0);
  --additional-text-color-3: rgb(37, 30, 6);
  --glass-color: rgba(252, 207, 152, 0.203);
}

.theme-green {
  --background-color: rgb(181, 247, 151);
  --background-color-2: rgb(162, 218, 123);
  --game-border-color: rgb(6, 78, 34);
  --header-text-color: rgb(18, 105, 32);
  --regular-text-color: rgb(239, 255, 243);

  --button-color-1: rgb(11, 148, 9);
  --button-color-1-hover: rgb(16, 99, 5);

  --button-color-2: rgb(42, 95, 19);
  --button-color-2-hover: rgb(8, 41, 3);

  --additional-text-color-1: rgb(0, 105, 42);
  --additional-text-color-2: rgb(49, 106, 29);
  --additional-text-color-3: rgb(195, 250, 216);

  --glass-color: rgba(12, 55, 2, 0.203);
}

.theme-blue {
  --background-color: rgb(147, 216, 246);
  --background-color-2: rgb(133, 190, 214);
  --game-border-color: rgb(10, 61, 90);
  --header-text-color: rgb(18, 66, 105);
  --regular-text-color: rgb(225, 240, 255);

  --button-color-1: rgb(15, 96, 177);
  --button-color-1-hover: rgb(16, 46, 135);

  --button-color-2: rgb(28, 79, 152);
  --button-color-2-hover: rgb(14, 34, 106);

  --additional-text-color-1: rgb(0, 84, 129);
  --additional-text-color-2: rgb(0, 54, 97);
  --additional-text-color-3: rgb(195, 240, 250);

  --glass-color: rgba(2, 22, 42, 0.203);
}

.theme-purple {
  --background-color: rgb(156, 65, 189);
  --background-color-2: rgb(115, 17, 139);
  --game-border-color: rgb(65, 13, 95);
  --header-text-color: rgb(240, 195, 255);
  --regular-text-color: rgb(237, 216, 255);

  --button-color-1: rgb(83, 15, 177);
  --button-color-1-hover: rgb(56, 8, 114);

  --button-color-2: rgb(163, 82, 214);
  --button-color-2-hover: rgb(103, 23, 160);

  --additional-text-color-1: rgb(241, 204, 255);
  --additional-text-color-2: rgb(28, 7, 46);
  --additional-text-color-3: rgb(238, 229, 245);

  --glass-color: rgba(21, 2, 29, 0.203);
}

.theme-light {
  --background-color: rgb(211, 230, 239);
  --background-color-2: rgb(148, 182, 205);
  --game-border-color: rgb(87, 118, 124);
  --header-text-color: rgb(30, 32, 35);
  --regular-text-color: rgb(0, 0, 0);

  --button-color-1: rgb(239, 246, 251);
  --button-color-1-hover: rgb(183, 206, 212);

  --button-color-2: rgb(229, 240, 240);
  --button-color-2-hover: rgb(205, 226, 240);

  --additional-text-color-1: rgb(15, 40, 54);
  --additional-text-color-2: rgb(24, 24, 25);
  --additional-text-color-3: rgb(8, 40, 49);

  --glass-color: rgba(93, 106, 110, 0.203);
}

.theme-dark {
  --background-color: rgb(29, 24, 37);
  --background-color-2: rgb(0, 0, 0);
  --game-border-color: rgb(190, 189, 211);
  --header-text-color: rgb(240, 251, 255);
  --regular-text-color: rgb(255, 255, 255);

  --button-color-1: rgb(60, 61, 69);
  --button-color-1-hover: rgb(39, 38, 41);

  --button-color-2: rgb(52, 37, 49);
  --button-color-2-hover: rgb(21, 16, 20);

  --border-color-2: rgb(100, 92, 123);

  --additional-text-color-1: rgb(228, 246, 255);
  --additional-text-color-2: rgb(254, 253, 255);
  --additional-text-color-3: rgb(233, 246, 252);

  --glass-color: rgba(32, 31, 32, 0.203);
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 800px;
  min-height: 100vh;
  flex-flow: column nowrap;
  background-image: linear-gradient(to bottom, var(--background-color), var(--background-color-2));
}

.theme-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--glass-color);
  width: 80%;
  border-radius: 16px;
  flex-flow: row wrap;
  padding: 10px;
  border: var(--game-border-color) 8px solid;
}

.game-subtitle {
  width: 100%;
  text-align: center;
  color: var(--additional-text-color-1);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 4em;
}

.game-pet_selection-subtitle {
  width: 100%;
  text-align: center;
  color: var(--additional-text-color-1);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 2.7em;
  font-weight: 570;
  font-style: italic;
  text-align: left;
}

.game-title {
  color: var(--header-text-color);
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 12em;
  text-align: center;
  animation: rotateTitle 1s ease-in-out infinite alternate;
}

.toggleMode, .game-care-menu__button, .shop-item-button, .buy-item-button {
  background-color: var(--button-color-1);
  border: 0px solid;
  border-radius: 8px;
  color: var(--regular-text-color);
  margin: 0.8%;
  padding: 1%;
  width: 12.5%;
  min-width: 100px;
  height: 80%;
  transition: transform .1s ease-in-out;
  font-weight: 600;
  font-size: 2em;
  font-family: "Momo Trust Display", sans-serif;
}

.toggleMode:hover, .game-care-menu__button:hover, .shop-item-button:hover, .buy-item-button:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
  background-color: var(--button-color-1-hover);
}

.toggleMode:active, .game-care-menu__button:active, .shop-item-button:active, .buy-item-button:active {
  animation: clickToggle 0.2s ease;
}

.buy-item-button {
  max-height: 10vh;
  height: 16%;
  width: 100%;
  padding: auto;
  font-size: 1.2em;
}

.shop-items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.shop-item-button {
  width: 30%;
  min-width: 300px;
  height: 40%;
  max-height: 10vh;
}

.game-care-menu__button {
  width: 96%;
  height: 100%;
  margin: 2%;
}

.game-care-menu__button-container {
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
}

.shop-items-container {
  width: 100%;
  height: 50%;
  max-height: 200px;
}

.sad-face {
  font-size: 8em;
  font-family: "Momo Trust Display" sans-serif;
  color: var(--additional-text-color-2);
}

.theme-button__theme-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.horizontal-line {
  width: 100%;
  height: 0;
  border-radius: 5px;
  border-bottom: var(--game-border-color) 10px solid;
  margin-top: 2%;
  margin-bottom: 1%;
}

.game-pet-selection {
  width: 80%;
  border: var(--game-border-color) 8px solid;
  background-color: var(--glass-color);
  border-radius: 12px;
  margin: 1%;
  padding: 1%;
}

.game-window-wrap {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--glass-color);
  border: var(--game-border-color) 8px solid;
  border-radius: 16px;
  padding: 1%;
  margin-bottom: 5%;
  width: 80%;
}

.game-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: 16px;
  padding: 3%;
  margin-bottom: 1%;
}

.game-window {
  border: var(--game-border-color) 8px solid;
  border-radius: 12px;
  width: 78%;
  min-width: 40vw;
  height: 80vh;
  margin: 1%;
  display: flex;
}

.game-save-button {
  width: 100%;
  min-width: 3.5em;
  height: 10%;
  margin: 1%;
  background-color: var(--button-color-2);
  border: var(--game-border-color) 5px solid;
  border-radius: 32px;
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: var(--regular-text-color);
  transition: transform .1s ease-in-out; 
  padding: 1%;
  margin-top: -3%;
}

.game-save-button:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
}

.game-save-button:active {
  animation: clickToggle 0.2s ease;
}

.care-button-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 1%;
  margin-left: 3%;
}

.care-button {
  width: 100%;
  min-width: 3.2em;
  height: 15%;
  margin: 1%;
  background-color: var(--button-color-2);
  border: var(--game-border-color) 5px solid;
  border-radius: 32px;
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 5em;
  font-weight: 600;
  color: var(--regular-text-color);
  transition: transform .1s ease-in-out;
}

.care-button:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
}

.care-button:active {
  animation: clickToggle 0.2s ease;
}

.menu-shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 24, 0.43);
}

.game-care-menu {
  display: none;
  flex-flow: column nowrap;
  padding: 3%;
  padding-top: 0;
  padding-bottom: 12%;
  justify-content: space-around;

  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 3em;
  font-weight: 600;

  width: 90%;
  height: 90%;
  position: fixed;
  left: 5%;
  top: 5%;
  background-color: var(--background-color);
  border: var(--game-border-color) 12px solid;
  border-radius: 30px;
  overflow: hidden;
}

.game-care-menu-open {
  animation: slideIn .3s ease-in-out backwards;
}

.game-care-menu-close {
  animation: slideOut .26s ease-in-out backwards;
}

.game-care-subtitle {
  text-align: center;
  color: var(--additional-text-color-2);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 4em;
}

.close-menu-button {
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 1.2em;
  font-weight: 600;

  border: var(--game-border-color) 5px solid;
  color: var(--regular-text-color);
  border-radius: 32px;

  transition: transform ease-in-out .1s;
  padding: 1%;

  background-color: var(--button-color-2);
  position: absolute;
  bottom: 2%;
}

.close-menu-button:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
  transform: translateY(-7%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
}

.close-menu-button:active {
  animation: clickToggle 0.2s ease;
}

.delete-bus-menu__confirmation {
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 1.2em;
  font-weight: 600;

  border: var(--game-border-color) 5px solid;
  color: var(--regular-text-color);
  border-radius: 32px;

  transition: transform ease-in-out .1s;
  padding: 1%;
  width: 100%;


  background-color: var(--button-color-2);
}

.delete-bus-menu__confirmation:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
  transform: translateY(-7%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
}

.delete-bus-menu__confirmation:active {
  animation: clickToggle 0.2s ease;
}

.delete-bus-menu__subtitle {
  font-size: 1.4em;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 800;
  color: var(--additional-text-color-2)
}

.bus-adopt__container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.bus-selection__button {
  background-color: var(--button-color-1);
  border: 0px solid;
  border-radius: 8px;
  color: var(--regular-text-color);
  margin: 8px;
  padding: 8px;
  width: 150px;
  min-width: 100px;
  height: 80%;
  transition: transform .1s ease-in-out;
  font-weight: 600;
  font-size: 2em;
  font-family: "Momo Trust Display", sans-serif;
}

.bus-selection__button:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
  background-color: var(--button-color-1-hover);
}

.bus-selection__button:active {
  animation: clickToggle 0.2s ease;
}

.name-input {
  border: var(--game-border-color) 6px solid;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: var(--glass-color);
}

.name-input__container {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin-top: 2%;
  width: 100%;
}

.name-input__text {
  border: var(--game-border-color) 6px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.65em;
  font-family: "Momo Trust Display" sans-serif;
  background-color: var(--background-color);
  color: var(--additional-text-color-1);
  font-weight: 900;
  font-style: none;
  width: 60%;
  
  background-color: var(--glass-color);
  margin: auto;
  background-color: var(--background-color-2);
}
.name-input__text::placeholder {
  color:  var(--additional-text-color-2);
  font-weight: 800;
  font-style: italic;
}
.name-input__text:focus {
  transition: transform .23s ease-in-out;
  transform: scale(1.04);
  background-color: var(--background-color);
  outline: none;
  
}

.name-input__button {
  background-color: var(--button-color-1);
  border: 0px solid;
  border-radius: 8px;
  color: var(--regular-text-color);
  margin: 8px;
  padding: 8px;
  width: 17%;
  min-width: 100px;
  height: 80%;
  transition: transform .1s ease-in-out;
  font-weight: 600;
  font-size: 2em;
  font-family: "Momo Trust Display", sans-serif;
}
.name-input__button:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
  background-color: var(--button-color-1-hover);
}

.name-input__button:active {
  animation: clickToggle 0.2s ease;
}

.adoption-data-attribute {
  font-family: "Momo Trust Display", sans-serif;
  padding: 20px;
  font-size: 2.7em;
  font-style: italic;
  color:  var(--additional-text-color-2);
}

.current-buses__container {
  justify-content: space-around;
  align-items: center;
}

.owned-bus-display {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border: var(--game-border-color) 3px solid;
  border-radius: 12px;
  padding: 2%;
  width: 100%;
  margin: 1%;
  margin-left: 0;
}

.owned-bus-display__name {
  font-size: 3.5em;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  color: var(--additional-text-color-1);
}

.owned-bus-display__button-container {
  display: flex;
  width: 45%;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.owned-bus-display__species {
  font-size: 2.2em;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: var(--additional-text-color-2);
}

.owned-bus-display__button {
  width: 100%;
  height: 50%;
  margin: 1%;
  font-size: 2em;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  color: var(--additional-text-color-3);
  background-color: var(--button-color-1);
  transition: transform .1s ease-in-out;
  border: none;
  border-radius: 30px;
  padding: 5px;
}

.owned-bus-display__button:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
  background-color: var(--button-color-1-hover);
}

.owned-bus-display__button:active {
  animation: clickToggle 0.2s ease;
}

.game-pet-selection__button {
  background-color: var(--button-color-1);
  border: 0px solid;
  border-radius: 8px;
  color: var(--regular-text-color);
  margin: 8px;
  padding: 8px;
  width: 20%;
  height: 50%;
  transition: transform .1s ease-in-out;
  font-weight: 600;
  font-size: 1.5em;
  font-family: "Momo Trust Display", sans-serif;
}

.game-pet-selection__button:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
  background-color: var(--button-color-1-hover);
}

.game-pet-selection__button:active {
  animation: clickToggle 0.2s ease;
}

.game-pet-selection__container {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}

#adopt-form-location {
  margin: 1%;
}

.adoption-menu-display {
  display: flex;
  flex-flow: column nowrap;
}

.adoption-menu__attribute {
  width: 100%;
  margin: 0.8%;
}

.adoption-menu-subtitle {
  text-align: left;
  color: var(--additional-text-color-2);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 2.6em;
  font-style: italic;
  font-weight: 600;
}

.theme-button__title-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#settings-title {
  width: 60vw;
  text-align: left;
}

.stats-bar__container {
  width: 100%;
  height: 5vh;
  border: var(--border-color-2) 10px solid;
  border-radius: 30px;
  background-color: var(--glass-color);
  display: block;
}

.stats-bar__fill {
  width: 100%;
  height: 100%;
  background-color: var(--additional-text-color-2);
  transition: width 0.4s ease-in-out;
  display: block;
  border-radius: 30px;;
  position: relative;
}

#no-buses-menu {
  padding: 5%;
}

.no-buses-text {
  margin: 10%;
  font-size: 6em;
  font-style: italic;
  font-weight: 500;
}

#light-hit-button, #strong-hit-button {
  height: 35%;
}

#foods__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.game-feed-menu__head-menu {
  margin-bottom: 0;
}

@keyframes rotateTitle {
  0% {
    transform: rotate(0.75deg);
  }
  100% {
    transform: rotate(-0.75deg);
  }
}

@keyframes rotateSaveAlert {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes clickToggle {
  0% {
    transform: scale(1.0)
  }
  70% {
    transform: scale(1.02)
  }
  100% {
    transform: scale(1.0)
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(150%) scale(0.1);
  }
  70% {
    transform: translateY(-5%) scale(1.01);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(150%) scale(0.1);
    opacity: 0;
  }
}