@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
  --placer-holder-color: rgb(200, 200, 200);
}

.theme-red {
  --background-color: rgb(253, 146, 146);
  --background-color-2: rgb(238, 140, 140);
  --game-border-color: rgb(165, 35, 35);
  --header-text-color: rgb(105, 18, 18);
  --regular-text-color: rgb(30, 0, 0);

  --button-color-1: rgb(213, 41, 41);
  --button-color-1-hover: rgb(181, 31, 31);

  --button-color-2: rgb(239, 152, 143);
  --button-color-2-hover: rgb(255, 107, 88);

  --additional-text-color-1: rgb(255, 204, 204);
  --additional-text-color-2: rgb(75, 18, 18);
}

.theme-orange {
  --background-color: rgb(255, 200, 145);
  --background-color-2: rgb(238, 150, 91);
  --game-border-color: rgb(215, 115, 0);
  --header-text-color: rgb(107, 48, 2);
  --regular-text-color: rgb(30, 12, 0);

  --button-color-1: rgb(222, 126, 0);
  --button-color-1-hover: rgb(167, 74, 7);

  --button-color-2: rgb(239, 188, 143);
  --button-color-2-hover: rgb(255, 172, 88);

  --additional-text-color-1: rgb(255, 215, 180);
  --additional-text-color-2: rgb(172, 69, 0);
}

.theme-p-yellow { /* this theme was requested by izzy, but I don't like yellow */
  --background-color: rgb(255, 233, 145);
  --background-color-2: rgb(238, 231, 91);
  --game-border-color: rgb(224, 179, 0);
  --header-text-color: rgb(231, 174, 3);
  --regular-text-color: rgb(30, 25, 0);

  --button-color-1: rgb(255, 233, 145);
  --button-color-1-hover: rgb(239, 184, 19);

  --button-color-2: rgb(239, 220, 143);
  --button-color-2-hover: rgb(255, 233, 88);

  --additional-text-color-1: rgb(38, 27, 0);
  --additional-text-color-2: rgb(75, 69, 18);
}

#wider-button {
  width: 80vw;
  margin-bottom: 2%;
}

.theme-green {
  --background-color: rgb(181, 247, 151);
  --background-color-2: rgb(162, 218, 123);
  --game-border-color: rgb(27, 180, 88);
  --header-text-color: rgb(18, 105, 32);
  --regular-text-color: rgb(239, 255, 243);

  --button-color-1: rgb(11, 148, 9);
  --button-color-1-hover: rgb(16, 99, 5);

  --button-color-2: rgb(42, 95, 19);
  --button-color-2-hover: rgb(8, 41, 3);

  --additional-text-color-1: rgb(0, 105, 42);
  --additional-text-color-2: rgb(49, 106, 29);
}

.theme-blue {
  --background-color: rgb(147, 216, 246);
  --background-color-2: rgb(133, 190, 214);
  --game-border-color: rgb(10, 61, 90);
  --header-text-color: rgb(18, 66, 105);
  --regular-text-color: rgb(225, 240, 255);

  --button-color-1: rgb(15, 96, 177);
  --button-color-1-hover: rgb(16, 89, 135);

  --button-color-2: rgb(28, 79, 152);
  --button-color-2-hover: rgb(14, 34, 106);

  --additional-text-color-1: rgb(0, 84, 129);
  --additional-text-color-2: rgb(0, 54, 97);
}

.theme-purple {
  --background-color: rgb(156, 65, 189);
  --background-color-2: rgb(115, 17, 139);
  --game-border-color: rgb(65, 13, 95);
  --header-text-color: rgb(240, 195, 255);
  --regular-text-color: rgb(237, 216, 255);

  --button-color-1: rgb(83, 15, 177);
  --button-color-1-hover: rgb(94, 16, 145);

  --button-color-2: rgb(209, 150, 245);
  --button-color-2-hover: rgb(158, 67, 223);

  --additional-text-color-1: rgb(241, 204, 255);
  --additional-text-color-2: rgb(28, 7, 46);
}

.theme-light {
  --background-color: rgb(228, 238, 243);
  --background-color-2: rgb(169, 193, 209);
  --game-border-color: rgb(87, 118, 124);
  --header-text-color: rgb(30, 32, 35);
  --regular-text-color: rgb(0, 0, 0);

  --button-color-1: rgb(239, 246, 251);
  --button-color-1-hover: rgb(183, 206, 212);

  --button-color-2: rgb(203, 238, 238);
  --button-color-2-hover: rgb(205, 226, 240);

  --additional-text-color-1: rgb(15, 40, 54);
  --additional-text-color-2: rgb(24, 24, 25);
}

.theme-dark {
  --background-color: rgb(29, 24, 37);
  --background-color-2: rgb(0, 0, 0);
  --game-border-color: rgb(190, 189, 211);
  --header-text-color: rgb(240, 251, 255);
  --regular-text-color: rgb(255, 255, 255);

  --button-color-1: rgb(60, 61, 69);
  --button-color-1-hover: rgb(39, 38, 41);

  --button-color-2: rgb(52, 37, 49);
  --button-color-2-hover: rgb(21, 16, 20);

  --border-color-2: rgb(100, 92, 123);

  --additional-text-color-1: rgb(228, 246, 255);
  --additional-text-color-2: rgb(254, 253, 255);
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 800px;
  min-height: 100vh;
  flex-flow: column nowrap;
  background-image: linear-gradient(to bottom, var(--background-color), var(--background-color-2));
}

.theme-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 23, 0.1);
  width: 80%;
  border-radius: 16px;
  flex-flow: row wrap;
  padding: 10px;
  border: var(--game-border-color) 8px solid;
}

.game-subtitle {
  width: 100%;
  text-align: center;
  color: var(--additional-text-color-1);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 4em;
}

.game-title {
  color: var(--header-text-color);
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 12em;
  text-align: center;
  animation: rotateTitle 1s ease-in-out infinite alternate;
}

.toggleMode {
  background-color: var(--button-color-1);
  border: 0px solid;
  border-radius: 8px;
  color: var(--regular-text-color);
  margin: 8px;
  padding: 8px;
  width: 12%;
  min-width: 100px;
  height: 80%;
  transition: transform .1s ease-in-out;
  font-weight: 600;
  font-size: 2em;
  font-family: "Momo Trust Display", sans-serif;
}

.toggleMode:hover {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
  background-color: var(--button-color-1-hover);
}

.toggleMode:active {
  animation: clickToggle 0.2s ease;
}

.horizontal-line {
  width: 100%;
  height: 0;
  border-radius: 5px;
  border-bottom: var(--game-border-color) 10px solid;
  margin-top: 2%;
  margin-bottom: 1%;
}

.game-pet-selection {
  width: 80vw;
  height: 40vh;
  border: var(--game-border-color) 8px solid;
  background-color: rgba(0, 0, 23, 0.1);
  border-radius: 12px;
  margin: 1%;
  padding: 1%;
}

.game-window-wrap {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(0, 0, 23, 0.1);
  border: var(--game-border-color) 8px solid;
  border-radius: 16px;
  padding: 1%;
  margin-bottom: 1%;
  width: 80vw;
}

.game-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: 16px;
  padding: 3%;
  margin-bottom: 1%;
}

.game-window {
  border: var(--game-border-color) 8px solid;
  border-radius: 12px;
  width: 78%;
  min-width: 40vw;
  height: 80vh;
  margin: 1%;
  display: flex;
}

.game-save-button {
  width: 100%;
  min-width: 3.5em;
  height: 10%;
  margin: 1%;
  background-color: var(--button-color-2);
  border: var(--game-border-color) 5px solid;
  border-radius: 32px;
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: var(--regular-text-color);
  transition: transform .1s ease-in-out; 
  padding: 1%;
  margin-top: -3%;
}

.game-save-button:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
}

.game-save-button:active {
  animation: clickToggle 0.2s ease;
}

.care-button-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 1%;
  margin-left: 3%;
}

.care-button {
  width: 100%;
  min-width: 3.5em;
  height: 18%;
  margin: 1%;
  background-color: var(--button-color-2);
  border: var(--game-border-color) 5px solid;
  border-radius: 32px;
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 5em;
  font-weight: 600;
  color: var(--regular-text-color);
  transition: transform .1s ease-in-out;
}

.care-button:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow:rgba(17, 19, 23, 0.4) 0px 2px 2px;
}

.care-button:active {
  animation: clickToggle 0.2s ease;
}

.menu-shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 23, 0.3);
}

.game-care-menu {
  display: none;
  flex-flow: column nowrap;
  padding: 3%;
  justify-content: space-between;

  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 3em;
  font-weight: 600;

  width: 90%;
  height: 90%;
  position: fixed;
  left: 5%;
  top: 5%;
  background-color: var(--background-color);
  border: var(--game-border-color) 12px solid;
  border-radius: 30px;
}

.game-care-menu-open {
  animation: slideIn .3s ease-in-out backwards;
}

.game-care-menu-close {
  animation: slideOut .3s ease-in-out backwards;
}

.game-care-subtitle {
  text-align: center;
  color: var(--additional-text-color-2);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 4em;
}

.close-menu-button {
  font-family: "Bitcount Grid Single", sans-serif;
  font-size: 1.2em;
  font-weight: 600;

  border: var(--game-border-color) 5px solid;
  color: var(--regular-text-color);
  border-radius: 32px;

  transition: transform ease-in-out .1s;
  padding: 1%;

  background-color: var(--button-color-1);
}

.close-menu-button:hover {
  background-color: var(--button-color-1-hover);
}

.close-menu-button:active {
  animation: clickToggle 0.2s ease;
}

#game-save-alert {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;

  width: 50%;
  height: 10%;
  position: fixed;
  left: 5%;
  top: 85%;
  background-color: var(--background-color);
  border: var(--game-border-color) 3px solid;
  border-radius: 30px;

  animation: rotateSaveAlert 2s ease-in-out infinite alternate;
}

.game-save-alert-subtitle {
  text-align: center;
  color: var(--additional-text-color-2);
  font-family: "Momo Trust Display", sans-serif;
  font-size: 2em;
}

@keyframes rotateTitle {
  0% {
    transform: rotate(0.25deg);
  }
  100% {
    transform: rotate(-0.25deg);
  }
}

@keyframes rotateSaveAlert {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes clickToggle {
  0% {
    transform: scale(1.0)
  }
  70% {
    transform: scale(1.02)
  }
  100% {
    transform: scale(1.0)
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(150%);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(150%) scale(0.3);
    opacity: 0;
    display: none;
  }
}